:host {
  display: block;
  margin: 10px;
  border: 1px solid red;
}

.container {
  display: flex;
}

.button-block {
  border: 1px solid grey;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.player-block {
  position: relative;
}

#player {
  border: 1px solid grey;
  margin-right: 10px;
}

#overlay {
  position: absolute;
  z-index: 3;
}

.button {
  margin-right: 10px;
  margin-bottom: 10px;
}
