:host {
  display: block;
  margin: 10px;
  border: 1px solid red;
}

.container {
  display: flex;
}

.button-block {
  border: 1px solid grey;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.player-block {
  position: relative;
}

#player {
  border: 1px solid grey;
  margin-right: 10px;
}

#overlay {
  position: absolute;
  z-index: 3;
}

.player-button {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 15px;
  color: white;
  background-color: #994d00;
}

.outlined {
  outline: 3px groove orangered;
}

.player-button:hover {
  color: #ffe6cc;
}

.player-button:active {
  color: darkorange;
}

.name-label {
  position: absolute;
  right: 20px;
  bottom: 10px;
  border-radius: 15px;
  background-color: grey;
  opacity: 0.8;
  padding: 2px 8px;
  font-family: sans-serif;
  font-size: 0.8em;
  color: white;
}